body {
	background-color: #f5f5f5;
}

.ullist {
	max-width: 1200px;
	margin: 0 auto;
}

.ullistFather {
	position: relative;
	background-color: #393D49;
}
.search{
	display: flex;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.search>input{
	height: 30px;
	padding: 0 10px;
	font-size: 14px;
	border: none;
	outline: none;
	vertical-align: middle;
}
.searchButton{
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	background-color:white;
	border-left: 1px solid #ccc;
}
.ullist>li:nth-last-child(2) {
	float: right;
}

.products {
	max-width: 1200px;
	margin: 20px auto 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.products>.newitem {
	width: 291px;
	margin-bottom: 12px;
}

.products>.item {
	width: 291px;
	background-color: #fff;
	margin-bottom: 12px;
}

.products>.item.empty {
	height: 0;
}

.products>.item:hover {
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1);
}

.products>.item a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.products>.item .album {
	width: 180px;
	height: 180px;
	margin: 30px 0;
}

.products>.item .name {
	font-weight: 700;
	color: #000;
}

.products>.item .discount {
	height: 19px;
	margin: 10px 0 16px;
	color: #666;
}

.products>.item .price {
	font-size: 16px;
	font-weight: 700;
	color: red;
}

.products>.item .service {
	display: flex;
	justify-content: center;
	margin: 10px 0;
}

.products>.item .service .tip {
	margin: 0 3px;
	padding: 0 3px;
	border: 1px solid red;
	border-radius: 3px;
	font-size: 12px;
	color: red;
}

.products>.item .comment {
	display: flex;
	justify-content: center;
	margin-bottom: 12px;
}

.products>.item .comment span {
	margin: 0 5px;
	font-size: 12px;
	color: #666;
}
